@font-face {
  font-family: 'merrycodes-front-icon';
  src: url('../font/merrycodes-front-font.eot?41498219');
  src: url('../font/merrycodes-front-font.eot?41498219#iefix') format('embedded-opentype'), url('../font/merrycodes-front-font.woff?41498219') format('woff'),
    url('../font/merrycodes-front-font.ttf?41498219') format('truetype'), url('../font/merrycodes-front-font.svg?41498219#merrycodes-front-font') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^='icon-'],
[class*=' icon-'] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'merrycodes-front-icon' !important;
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-up-big:before {
  content: '\e800';
}

.icon-folder:before {
  content: '\e801';
}

.icon-calendar:before {
  content: '\e802';
}

.icon-eye:before {
  content: '\e803';
}

.icon-tag:before {
  content: '\e804';
}

.icon-clock:before {
  content: '\e805';
}
